.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba($color-primary-light ,0.8), rgba($color-primary-dark, 0.8)), url(/img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    width: 6.2rem;
    top: 5%;
    left: 5%;
  }
  
  &__logo {
    height: 3.2rem;
  }
  

  &__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;
    /* Avoid animation shaking */
    backface-visibility: hidden;
  
    transform: translate(-50%, -50%);
  }
}